<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<h1 class="alert-primary">
    WEBSITE INTRO
</h1>
<br>
<b class="alert alert-success">THIS WEBSITE IS FOR GENERATING PASSWORD YOU CAN CHECK BOXES FOR RANDOM</b>
<br> 
<br>
    <b class="alert alert-success">PASSWORD WITH DIFFERENT SPECIAL CHARACTERS OR UPPERCASE AND NUMBERS</b>
<br>
<br>
<a href="{%url 'home'%}" class="btn btn-warning">Back</a>